html,
body {
  background-color: #18191A;
}
/* HEADER
========================================*/
.header {
  background-color: #3A3B3C;
}
.nav {
  background-color: #3A3B3C;
}
.nav__link {
  color: #fff;
}
.switch[data-theme="dark"],
.header__logo[data-color="dark"] {
  display: none;
}
.switch[data-theme="light"],
.header__logo[data-color="light"] {
  display: block;
}
.switch[data-theme="dark"],
.burger[data-color="dark"] {
  display: none;
}
@media (max-width: 790px) {
  .switch[data-theme="light"],
  .burger[data-color="light"] {
    display: block;
  }
}
/* INTRO
========================================*/
.intro {
  background-color: #242526;
}
.intro__heading {
  color: #fff;
}
.intro__text {
  color: #fff;
}
.intro__social__link {
  background-color: #3A3B3C;
  color: #fff;
}
/* ABOUT
========================================*/
.about__subheading {
  color: #fff;
}
.about__heading {
  color: #fff;
}
.about__text {
  color: #fff;
}
.about__cards__item {
  background-color: #242526;
}
.cards__item__text {
  color: #fff;
}
/* CLIENTS
========================================*/
.clients {
  background-color: #242526;
}
/* EXPEREINCE
========================================*/
.expereince {
  background-color: #242526;
}
.expereince__subheading {
  color: #fff;
}
.expereince__heading {
  color: #fff;
}
.expereince__text {
  color: #fff;
}
.expereince__cards__item {
  background-color: #3A3B3C;
}
.cards__item__quantity {
  color: #fff;
}
/* SECTION
========================================*/
.section__header_subheading {
  color: #fff;
}
.section__header_heading {
  color: #fff;
}
/* TEAM
========================================*/
.cards__profile_name {
  color: #fff;
}
.cards__profile {
  background-color: #242526;
}
/* BLOG
========================================*/
.blog__slider_item {
  background-color: #242526;
}
.blog__slider_text {
  color: #fff;
}
.profile__name {
  color: #fff;
}
/* CONTACT
========================================*/
.contact__item {
  background-color: #242526;
}
.contact__header__subheading {
  color: #fff;
}
.contact__info__mail {
  color: #fff;
}
.contact__info__phone {
  color: #fff;
}
.contact__info__adress {
  color: #fff;
}
/* MESSAGE
========================================*/
.form__input {
  background-color: #242526;
  color: #fff !important;
}
