/* HEADER
========================================*/
.header {
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.nav__link {
  color: #373737;
}
.nav {
  background-color: rgba(255, 255, 255, 0.7);
}
.switch[data-theme="dark"],
.header__logo[data-color="dark"] {
  display: block;
}
.switch[data-theme="light"],
.header__logo[data-color="light"] {
  display: none;
}
@media (max-width: 790px) {
  .switch[data-theme="dark"],
  .burger[data-color="dark"] {
    display: block;
  }
}
.switch[data-theme="light"],
.burger[data-color="light"] {
  display: none;
}
/* INTRO
========================================*/
.intro {
  background-color: #FFF7F4;
}
.intro__heading {
  color: #373737;
}
.intro__text {
  color: #7B7B7B;
}
.intro__social__link {
  background-color: #fff;
  color: #FF5300;
}
/* ABOUT
========================================*/
.about__subheading {
  color: #7B7B7B;
}
.about__heading {
  color: #373737;
}
.about__text {
  color: #7B7B7B;
}
.about__cards__item {
  background-color: #fff;
}
.cards__item__text {
  color: #373737;
}
/* EXPEREINCE
========================================*/
.expereince {
  background-color: #FFF7F4;
}
.expereince__subheading {
  color: #7B7B7B;
}
.expereince__heading {
  color: #373737;
}
.expereince__text {
  color: #7B7B7B;
}
.expereince__cards__item {
  background-color: #fff;
}
.cards__item__quantity {
  color: #373737;
}
/* SECTION
========================================*/
.section__header_subheading {
  color: #7B7B7B;
}
.section__header_heading {
  color: #373737;
}
/* TEAM
========================================*/
.cards__profile_name {
  color: #000;
}
.cards__profile_prof {
  color: #7b7b7b;
}
/* BLOG
========================================*/
.blog__slider_text {
  color: #373737;
}
.profile__name {
  color: #373737;
}
/* CONTACT
========================================*/
.contact__header__subheading {
  color: #373737;
}
.contact__info__mail {
  color: #7B7B7B;
}
.contact__info__phone {
  color: #7B7B7B;
}
.contact__info__adress {
  color: #7B7B7B;
}
/* MESSAGE
========================================*/
